/* Headings*/
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
/* font-family: 'DM Serif Display', serif; font weight 400*/
/*body*/
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap");
/* font-family: 'Karla', sans-serif; size 16px font-weight: 400, 700 */

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}
body {
  background: white;
  font: 16px "Karla", sans-serif;
  width: 100%;
}
#nav {
  display: grid;
  grid-template-columns: 60% 10% 5% 5% 12% 8%;
  background-color: white;
  text-align: center;
  position: relative;
  z-index: 3;
  padding: 1.25rem 0 1.25rem 0;
}
.nav-item {
  margin: 0;
  padding: 0.5rem;
  color: var(--dark-grayish-violet);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
button {
  background: transparent;
  padding: 0.5rem 1.75rem;
  border: 2px solid;
}
.white-border-button {
  border-color: white;
  color: white;
}
.violet-border-button {
  border-color: var(--very-dark-violet);
  color: var(--very-dark-violet);
}

#header-section {
  display: grid;
  grid-template-columns: 51% 49%;
  grid-template-rows: 11% 30% 29% 30%;
  height: 59rem;
  background: linear-gradient(180deg, var(--dark-violet) 62%, white 38%);
  z-index: -1;
}
.header-logo {
  padding-left: 10.5rem;
}
.violet-area {
  background: var(--dark-violet);
  color: var(--very-light-gray);
}
hr {
  border-top: 0.01rem solid white;
  width: 25%;
  margin-left: 0;
  margin-bottom: 4rem;
  margin-top: 0;
}
.pattern-intro-right {
  grid-column-start: 2;
  justify-self: right;
  margin-top: -13%;
  overflow: hidden;
  z-index: 2;
}
.pattern-intro-left {
  grid-column-start: 1;
  margin: -3rem -11rem;
  z-index: 2;
}
.header-content {
  grid-column-start: 1;
  grid-row-start: 2;
  padding: 0 1.5rem 2rem 10.5rem;
  margin: 0;
}
h1 {
  font: 4.5rem "DM Serif Display", serif;
  line-height: 4.5rem;
  margin: 0;
}
.header-text {
  font-weight: 200;
  line-height: 1.5rem;
}
.header-photo {
  grid-column-start: 2;
  grid-row-start: 2;
  z-index: 1;
}
#content-section {
  display: grid;
  grid-template-rows: 10% 30% 60%;
  width: 77%;
  margin: auto;
}
hr.gray-break {
  border-top: 0.075rem solid var(--grayish-blue);
  width: 15%;
}
.usp-section {
  grid-row-start: 3;
  display: flex;
  color: var(--very-dark-violet);
}
h1.content-title {
  color: var(--very-dark-violet);
  margin: 1rem 0 3rem 0;
}
.usp {
  padding: 1rem;
}
h2.usp-title {
  font: 1.5rem "DM Serif Display", serif;
}

.usp-text {
  color: var(--dark-grayish-violet);
}

#how-we-work-section {
  width: 77%;
  margin: auto;
  padding: 4rem 0;
  background-image: url("images/bg-pattern-how-we-work-desktop.svg");
  background-position: right top;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 50% 50%;
}
